*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}
.menu,.changeablelink{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;

    
}
.menu,.changeablelink:hover{
    color: #c3002f;
}
.changeabledivvisibleallcars{
  display: flex;
  flex-wrap: wrap;
  padding-left: 60px;

}
.Allcars{
    width: 280px;
}
.Allcars:hover{
    color: #c3002f;
    transition: all 1s;
}

.Allcars h4{
    transition: all 0.5s;
}
.Allcars h4:hover{
    color: #c3002f;
    transition: all 1s;
}
